@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-size: 12px;
    background-color: rgb(230, 224, 216);
    color: rgb(31, 30, 30);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
nav{
    background-color: rgb(214, 14, 14);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
nav ul{
    list-style-type: none;
    
}
nav ul li{
    display: inline;
    margin-left: 20px;
}
nav a{
    text-decoration: none;
    color: white;

}
.recipe-search{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.newsletter{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.recipe,
.address {
    padding: 15px;
    border: none;
}
.button {
    padding: 10px;
    /* color: purple; */
    background: rgb(214, 14, 14);
    color: white;
    border: none;
}
.signup {
    padding: 10px;
    background: black;
    color: white;
    border: none;
}
.button:hover{
    background-color:rgb(245, 66, 66) ;
}

/* p {
    display: flex;
    justify-content: center;

    margin-top: 20px;
} */
#header{
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 18px;
    position: relative;
    background-color: rgb(230, 224, 216);
    margin-top: 20px;
    margin-bottom: 30px;
}
#header::after{
    content: "";
    width: 100%;
    border-bottom: 1px solid red;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}
#header p{
    background-color: rgb(230, 224, 216);
    width: auto;
    display: inline-block;
    z-index: 3;
    padding: 0 20px 0 20px;
    color: black;
    position: relative;
    margin: 0;
}
.food-recipe {
    background: rgb(230, 224, 216);
    display: flex;
    border-bottom: 2px solid red;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    margin-bottom: 20px;
}
.food-img{
    margin: 10px;
}
.food-img img{
    width: 100px;
    height: 100px;
}
.food-details{
    padding: 10px;
}
/* .food-details h3{
    font-size: 14px;
} */
.food-details a{
    text-decoration: none;
    color: red;
    margin-top: 20px;
}
/* .food-details p {
    padding: 20px 0;
    line-height: 30px;
} */
footer{
    background-color: rgb(233, 22, 22);
    height: 210px;
}
h4,
.love-span{
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    color: rgb(255, 254, 254);
}
.social-media{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.social-media ul{
    list-style-type: none;
}
.social-media ul li{
    display: inline-block;
    font-size: 12px;
    text-decoration: underline;
}
.social-media a{
    text-decoration: none;
    color: white;
}
.social-media a:hover,
nav a:hover{
    color: rgb(240, 155, 155);
}
.love-span span{
    color: rgb(255, 255, 255);
}
/* main{
    background-color: rgb(247, 242, 242);
} */
.row{
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-gap:1rem;
   
}
.col{
    
    border-radius: 5px;
    /* border:1px solid gray; */
    color: black;
    padding: 1rem;
    /* height: 4rem; */
}
.border-red{
    background-color: white;
}
.col h1{
    font-size: 19px;
}
.col p{
    margin-bottom: 20px;
    font-size: 15px;
}
.col img{
    height: 200px;
    width: 250px;
    border: 2px solid gray;
    border-radius: 7px;
    
 
}
.lg-image img{
    height: 300px;
    width: 350px;
}
/* .border-red{
    border:1px solid gray;
} */
.popular-section {
    display: flex;
    align-items: center;
}
.popular-section img{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}
.popular-section p{
    padding: 10px;
}
 h2{
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.main-two {
    padding: 20px;
    color: black;
    border-top: 3px solid red;
    /* margin: 20px; */
    /* background-image: linear-gradient(rgba(0,0,0,0.627),rgba(0, 0, 0, 0.8)),url("images/9.jpg"); */
    /* background-image: url("images/8.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.main-two p{
    text-align: justify;
}
.text-center {
    text-align: center;
    padding:5px 20px;
}
/* .main-two p:nth-of-type(1){
    padding: 40px;
} */
.main-two span{
        display: block;
}
.main-two span a{
    color: rgb(209, 43, 43);
}
.blog-section p{
    color: black;
}
@media (min-width:600px){
    .row{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:900px){
    .row{
        grid-template-columns: repeat(2,1fr);
    }
    
}